body {
	background-color:#003333;
	color:#ccffff;
	font-family:serif;
	text-align: center;
	padding-bottom:50px;
}
#logo-container {
	text-align:center;
	width:auto;
	height:auto;
	padding:20%;
	padding-bottom:0%;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;
}
#logo-container img {
	width:100px;
	height:auto;
	padding:100px;
	background-image: radial-gradient(#00cccc 20%, #003333 70%);
}
#logo-container a {
	display:block;
}
a {
	display:block;
	text-decoration: none;
	color:#ccffff;
}
a:hover {
	cursor:pointer;
	text-decoration:underline;
}

#section {
	text-align:center;
	margin-left:15%;
	margin-right:15%;
	border-bottom-style:none;
	border-width:1px;
	border-color:#00cccc;
}
#section h1, h2 {
	margin-left:auto;
	margin-right:auto;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#00cccc;
	margin-top:50px;
}
#section h3, h4 {
	width:60%;
	margin-left:auto;
	margin-right:auto;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#00cccc;
	padding-top:30px;
}
#section p {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	padding-left:5%;
	padding-right:5%;
	border-left-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-color:#00cccc;
}
#section a {
	display:inline;
	text-decoration:underline;
}
#section ul {
	margin-left:15%;
	margin-right:15%;
	text-align: center;
}
#section li {
	text-align: left;
}
#section-list {
	border-left-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-color:#00cccc;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	padding-left:5%;
	padding-right:5%;
}
#section li {
	text-align: left;
}
#menu {
}
#navlist {
	list-style:none;
	margin-left:auto;
	margin-right:auto;
	/*border-top-style:solid;*/
	border-bottom-style:solid;
	border-width:3px;
	border-color:#00cccc;
	max-width:1000px;
}
#place {
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
}
#contents {
	list-style:none;
	text-align:left;
	height:auto;
	width:10%;
	position:fixed;
	z-index:1;
	top:500px;
	left:0;
	overflow-x:visible;
}
#contents li {
	margin:10px;
	padding:5px;
	border-bottom-style:solid;
	border-left-style:solid;
	border-width:1px;
	border-color:#00cccc;
}
