body {
	background-color: #f7eed4;
	color:#332500;
	font-family:serif;
	text-align: center;
	padding-bottom:50px;
}
#logo-container {
	text-align:center;
	width:auto;
	height:auto;
	padding:20%;
	padding-bottom:0%;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;
}
#logo-container img {
	width:100px;
	height:auto;
	padding:100px;
	background-image: radial-gradient(#b37a00 20%, #f7eed4 70%);
}
#logo-container a {
	display:block;
}
a {
	display:block;
	text-decoration: none;
	color:#332500;
}
a:hover {
	cursor:pointer;
	text-decoration:underline;
}
#section {
	text-align:center;
	margin-left:15%;
	margin-right:15%;
	border-bottom-style:none;
	border-width:1px;
	border-color:#b37a00;
}
#section a {
	display:inline;
	color:#b37a00;
}
#section h1, h2 {
	margin-left:auto;
	margin-right:auto;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#b37a00;
	margin-top:50px;
}
#section h3, h4 {
	width:60%;
	margin-left:auto;
	margin-right:auto;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#b37a00;
	padding-top:30px;
}
#section p {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	padding-left:5%;
	padding-right:5%;
	border-left-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-color:#b37a00;
}
#section ul {
	margin-left:15%;
	margin-right:15%;
	text-align: center;
}
#section li {
	text-align: left;
}
#section-list {
	border-left-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-color:#b37a00;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	padding-left:5%;
	padding-right:5%;
}
#menu {
}
#navlist {
	list-style:none;
	margin-left:auto;
	margin-right:auto;
	/*border-top-style:solid;*/
	border-bottom-style:solid;
	border-width:3px;
	border-color:#b37a00;
	max-width:1000px;
}
#place {
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
}
#contents {
	list-style:none;
	text-align:left;
	height:auto%;
	width:15%;
	position:fixed;
	z-index:1;
	top:100px;
	left:0;
	overflow-x:visible;
	padding-top:10%;
}
